th {
    background: #343A40;
    color: white;
}

tbody {
    display:block;
    height: 350px;
    table-layout:fixed;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

thead, tbody tr {
    display:table;
    width: 100%;
    table-layout:fixed;
}

/*Responsive table css help from https://css-tricks.com/responsive-data-tables/*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    Table, thead, tbody, th, td, tr {
        display: block;
    }

    .labelport {
        display: none;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #343A40; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        max-width: 70%;
        font-size: 9pt;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        white-space: nowrap;
    }

    tbody {
        height: 300px;
    }

    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "#"; padding-left: 102%; font-size: 7pt; }
    td:nth-of-type(2):before { content: "Place"; padding-left: 102%; font-size: 7pt; }
    td:nth-of-type(3):before { content: "Leg Distance"; padding-left: 102%; font-size: 7pt; }
    td:nth-of-type(4):before { content: "Total Distance"; padding-left: 102%; font-size: 7pt; }
    td:nth-of-type(5):before { content: "Latitude"; padding-left: 102%; font-size: 7pt; }
    td:nth-of-type(6):before { content: "Longitude"; padding-left: 102%; font-size: 7pt; }
    td:nth-of-type(7):before { content: "Set Start"; padding-left: 102%; font-size: 7pt; }
    td:nth-of-type(8):before { content: "Remove"; padding-left: 102%; font-size: 7pt; }

}

.server {
    border: 1px solid #343A40;
    min-width: 49%;
}

.port {
    border: 1px solid #343A40;
    min-width: 49%;
}

.labelport {
    padding: 5px 10px;
    font-size: 10pt;
    font-weight: 200;
    text-align-all: center;
    color: white;
    background-color: #343A40;
    width: 15px;
    height: 30px;
}

.headerText {
    padding: 5px 10px;
    font-size: 15pt;
    font-weight: 100;
    color: black;
}

.labelpop {
    background: #D1ECF1;
    border-radius: 5px;
    text-shadow: 1px 1px lightskyblue;
    border: 1px solid lightskyblue;
    height: 42px;
    max-width: max-content;
    text-align-all: center;
}
.mapborder {
    border: 4px solid #343A40;
}

.avatarborder {
    border: 4px solid #343A40;
}

.inputborder {
    border: 1px solid #343A40;
}

.inputborderadd {
    border: 1px solid #343A40;
}

.labelpre {
    padding: 5px 10px;
    font-size: 10pt;
    font-weight: 200;
    text-align-all: center;
    color: white;
    background-color: #343A40;
    min-width: 100px;
    height: 30px;
    border-radius: 5px;
}

.itinButton {
    padding: 5px 10px;
    font-size: 10pt;
    font-weight: 200;
    text-align-all: center;
    color: white;
    background-color: #343A40;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.darkButtonAlt {
    color: white;
    background-color: #343A40;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.tabs {
    cursor: pointer;
    font-size: 13pt;
}

.modalT {
    align-items: center;
}
